# compiled output
__pycache__
*.egg-info/
dist
python-connect/build

# dependencies
node_modules
venv
python-connect/Lib
python-connect/Scripts
examples/python/Lib
examples/python/Scripts
pyvenv.cfg

# privates
.env